@font-face {
  font-family: Moriston;
  src: url(assets/Moriston/MoristonPersonal-Regular.otf);
}

@font-face {
  font-family: "Moriston Bold";
  src: url(assets/Moriston/MoristonPersonal-Bold.otf);
}

body {
  margin: 0;
  font-family: "Moriston Bold";
  overflow: hidden;
}

h3 {
  margin: 0;
  text-align: center;
  background-color: #424874;
  color: white;
  font-size: 10px;
  letter-spacing: 4px;
  padding: 5px;
  font-family: "Moriston Bold";
}

h4 {
  margin: 0;
  color: #424874;
  font-size: 12px;
  font-family: "Moriston Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.send {
  cursor: pointer;
  transition: all 0.15s ease-in;
  border-radius: 50%;
}

.send:hover {
  transform: scale(1.1);
  box-shadow: 0px 3.5px 6px #42487486;
}

.send:active {
  transform: scale(0.9);
  transition: 0.2s ease;
  box-shadow: 0px 2px 6px #424874be;
}

#mapRender {
  background-color: darkgray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#google-map {
  height: 100%;
  width: 100%;
  margin-top: 23px;
}

#toolbarRender {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
  /* left: -144px; */
  /* display: flex; */
  width: auto;

  display: none;
}

.toolBarWrap{
  width: 435px;
  overflow-y: scroll;
}

/* width */
.toolBarWrap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.toolBarWrap::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
.toolBarWrap::-webkit-scrollbar-thumb {
  background: #424874; 
  transition: 0.15s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle on hover */
.toolBarWrap::-webkit-scrollbar-thumb:hover {
  background: #24273f; 
}

.paramWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 10px;
  /* width: 650px; */
  margin: 0 auto;
  flex-wrap: wrap;
}

.paramSection {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.inputChunk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px 0 5px;
}

input[type="text"] {
  width: 150px;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff2e3;
  border: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: none;
  color: white;
  background-color: #424874;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Moriston bold";
  border-radius: 4px;
  margin-top: 18px;
}

.class {
  display: flex;
  justify-content: space-around;
}

#picturesRender {
  /* position: fixed;
  z-index: 90; */
  transition: 0.3s ease;
  /* width: 1250px; */
}

#divider{
  height: 6px;
  background-color: #5f6597d0;
  border-radius: 3px; 
  width: 90%;
  margin: 10px auto;
}

.thumbnail {
  height: 200px;
  width: 200px;
  padding: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
  flex: 1 0 41%;
  background: transparent;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail h4 {
  text-align: center;
  padding-bottom: 10px;
}

.thumbnail:hover {
  background-color: rgba(255, 255, 200, 1);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.picturesWrap {
  /* height: 250px; */
  display: flex;
  flex-wrap: wrap;
  /* position: fixed; */
  /* box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5); */
  margin: 0 auto;
  /* overflow: s; */
  width: 100%;
  justify-content: space-evenly;
  display: none;
}

.thumbnail p {
  padding: 0px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 0 6px 0;
}

#hideShow h3 {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: #424874;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: 0.2s ease;
}

#hideShow h3:hover {
  letter-spacing: 10px;
}

#dogSelect {
  width: 60px;
  height: 60px;
}

#catSelect {
  width: 60px;
  height: 60px;
}

/* MODAL */
.modal__body {
  height: 300px;
  width: 300px;
  background: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  animation: growIn 0.3s;
  box-shadow: 0 -5px 3900px rgba(0, 0, 0, 1);
}

.modal__background {
  height: 100vh;
  width: 100vw;
  animation: fadeIn 0.3s;
}

select {
  padding: 40px;
}

.uk-select {
  height: auto;
}

.uk-input,
.uk-select:not([multiple]):not([size]) {
  height: auto;
  font-family: Moriston;
  font-size: 12px;
  padding: 2px;
  width: 75px;
  background-color: #fff2e3;
}

#imgWrap {
  display: flex;
  width: 100%;
}

#logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

#searchPets {
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

#searchPets:hover {
  padding: 7px;
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(41, 38, 231, 0.74);
}

h1 {
  margin: 0;
}

.landingWrap {
  position: absolute;
  z-index: 300;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  box-shadow: 0 -5px 100px rgba(0, 0, 0, 1);
  padding: 20px;
  display: block;
  animation: land 2s;
}

.center {
  text-align: center;
}

.infoCardWrap {
  position: absolute;
  height: 300px;
  width: 550px;
  border-top: 10px solid #424874;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  box-shadow: 0 -5px 100px rgba(0, 0, 0, 1);
  padding: 20px;
  display: none;
}

#infoCardRightSide {
  padding-left: 20px;
}

h2 {
  margin-bottom: 0;
}

#infoCardRightSide h3 {
  color: black;
  background: none;
  text-align: left;
  letter-spacing: 1px;
  padding: 5px 0;
}

.pictureInfo {
  display: flex;
}

.thumbnail img {
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

/* .mapParameters {
        position: absolute;
        right: 2%;
        top: 45%;
        width: 150px;
        background-color: white;
        transform: translateY(-50%);
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        display: none;
    } */

.animalInfo {
  position: absolute;
  right: 2%;
  top: 45%;
  width: 20%;
  background-color: white;
  transform: translateY(-50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-wrap: wrap;
  border-radius: 7px;
}

#profilePic {
  /* display: flex; */
  width: 100%;
  height: auto;
  /* border-radius: 15px; */
  justify-content: center;
  overflow: hidden;
  background-color: white;
}

.animalInfo h3 {
  padding: 15px;
  /* display: flex; */
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-align: center;
}

.animalInfo #minimize {
  padding: 5px;
  font-size: 8px;
  text-transform: none;
  margin-bottom: 0;
  text-align: right;
  cursor: pointer;
}

.animalInfo h4 {
  padding: 10px;
  /* display: flex; */
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  transition: 0.3s ease;
}

.mapParameters h4 {
  padding: 10px;
  /* display: flex;   */
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.mapParameters h4:hover {
  color: white;
  background-color: #424874bb;
  letter-spacing: 2px;
}

.minimizedInfo {
  position: absolute;
  right: 1%;
  top: 10%;
  display: none;
  width: 10%;
  transition: 0.2s ease;
}

.minimizedInfo:hover {
  width: 12%;
  background-color: #424874bb;
  letter-spacing: 2px;
  cursor: pointer;
}

/* /MODAL */
#modalCover {
  z-index: 200;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: 0.2s ease;
}

/* ANIMATIONS */
@keyframes land {
  0% {
    opacity: 0;
    top: 55%;
  }
  30% {
    opacity: 0;
    top: 55%;
  }
  90% {
    top: 50%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-75%, -75%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes hideVid {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 0.3s;
}

.displayNone {
  display: none;
}

@media screen and (max-width: 640px) {
  #toolbarRender {
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    top: -144px;
    overflow: auto;
    white-space: no-wrap;
  }

  .animalInfo h3 {
    font-size: 9px;
    padding: 7px;
  }

  .animalInfo h4 {
    font-size: 8px;
    padding: 5px;
  }

  .animalInfo #minimize {
    padding: 5px;
    font-size: 5px;
  }

  .thumbnail h3,
  h4 {
    font-size: 8px;
    padding: 5px;
  }

  .picturesWrap {
    height: 130px;
    bottom: 0;
  }
}


